body {
    box-sizing: border-box;
    display: block;
    margin: 25px;
}

#prettyShapes {
    background-color: white;
    border: 10px ridge black;
    padding: 30px;
}

#tallRectangle {
    background-color: blueviolet;
    height: 225px;
    width: 80px;
    margin-left: 10px;
    margin-right: 75px;
}

#longRectangle {
    background-color: green;
    height: 300px;
    width: 600px;
    margin-right: 75px;
}

#circle {
    background-color: skyblue;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid white;
}

.row {
    display: inline-block;
}

#midsection {
    background-color: white;
    border: 10px dotted black;
    margin-top: 25px;
    padding: 25px;
}

#longRectangle2 {
    height: 250px;
    background-color: lightgoldenrodyellow;
    margin: 50px;
    box-shadow: 20px 20px 10px #333333;
}

#text {
   text-align: center;
   color: darkblue;
   font-size: 75px;
   font-weight: bold;
   box-shadow: 10px 10px 5px silver;
   letter-spacing: 7px;
   font-family: 'Sansita Swashed', cursive;
   margin: 25px 30% 25px 30%;
   padding: 200px;
   border: 1px solid lightgrey;
}