body {
    box-sizing: border-box;
    display: block;
    margin: 25px;
}

#prettyShapes {
    background-color: white;
    border: 10px ridge black;
    padding: 30px;
}

#tallRectangle {
    background-color: blueviolet;
    height: 450px;
    width: 150px;
    margin-left: 20px;
    margin-right: 150px;
}

#longRectangle {
    background-color: green;
    height: 600px;
    width: 35%;
    margin-right: 150px;
}

#circle {
    background-color: skyblue;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    border: 5px solid white;
}

.row {
    display: inline-block;
}

#midsection {
    background-color: white;
    border: 10px dotted black;
    margin-top: 25px;
    padding: 50px;
}

#longRectangle2 {
    height: 500px;
    background-color: lightgoldenrodyellow;
    margin: 100px;
    box-shadow: 20px 20px 10px #333333;
}

#text {
   height: 700px;
   text-align: center;
   color: blue;
   box-shadow: 20px 20px 10px gray;

}